<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.way.wayFramewk.privilege.provider.dao.SysUserRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.way.wayFramewk.privilege.entity.SysUserRole">
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		user_id, role_id
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.way.wayFramewk.privilege.entity.SysUserRoleExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sys_user_role
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<delete id="delete" parameterType="com.way.wayFramewk.privilege.entity.SysUserRole">
		delete from sys_user_role
		where user_id = #{userId,jdbcType=BIGINT}
		and role_id = #{roleId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.way.wayFramewk.privilege.entity.SysUserRole">
		insert into sys_user_role (user_id, role_id)
		values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.way.wayFramewk.privilege.entity.SysUserRole">
		insert into sys_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				user_id,
			</if>
			<if test="roleid != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="roleid != null">
				#{roleId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.way.wayFramewk.privilege.entity.SysUserRoleExample"
		resultType="java.lang.Integer">
		select count(*) from sys_user_role
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<delete id="deleteByExample" parameterType="com.way.wayFramewk.privilege.entity.SysUserRoleExample">
		delete from sys_user_role
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
</mapper>